<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>This is <%= title %></h1>
    <form id="task-form" action="/add-task" method="POST">
        <div>
            <input type="text" name="description" id="description" required/>
            <input type="date" name="dueDate" id="dueDate"/>
            <select name="category" id="category">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
        </div>
        <button type="submit">Add Task</button>
    </form>
    <div>
        <% for(let task of tasks){%>
            <div style="display: flex;">
                <input type="checkbox" class="checked" value="<%= task._id %>">
                <p><%= task.description %></p>
                <p><%= task.dueDate %></p>
                <p><%= task.category %></p>
                <a href="/delete-task/<%= task._id %>">
                    Delete Task
                </a>
            </div>
        <%}%>
    </div>

    <form id="delete-forl" action="/delete-tasks" method="POST">
        <button>Delete Tasks</button>
    </form>



    <script type="text/javascript">
        var ids = [];
        var checkedItems = document.getElementsByClassName('checked');
        var taskTobe = document.getElementById('delete-forl')
        for(let t = 0; t < checkedItems.length; t++){
            checkedItems[t].addEventListener('click', function(e){
                ind = ids.findIndex( i => i == e.target.value);
                console.log(ind)
                if(ind == -1){
                    ids.push(e.target.value)
                    let ele = document.createElement('input');
                    ele.type = 'hidden';
                    ele.value = e.target.value
                    ele.name= e.target.value
                    ele.id = e.target.value
                    taskTobe.appendChild( ele )
                }else{
                    ids.splice(ind, 1);
                    let el = document.getElementById(ids[ind])
                    el.remove();
                }
            })
        }
    </script>
</body>
</html>